{% extends "templates/layout.jinja2" %}
{% block content %}
<h1>Open Tree custom synthesis runs</h1>
<br />
<button onclick="refresh_synth()">Refresh</button>
{% if has_default_collection %}
	<a href="/v3/tree_of_life/rebuild_custom"><input type="button" value="Rebuild the tree for {{custom_taxon_name}}"/></a>
{% endif %}
<a href="/v3/tree_of_life/launch_custom"><input type="button" value="Launch a new run" class="right" /></a>
<br/>
<br/>
<p class="launchedcaption"></p>
<br/>
<p class="caption"></p>
<table class="runtable">
</table>
<br />
<p>If this server is configured to automatically redeploy
custom synthesis runs, then you should
be able to browse the output of the most recent 
successful synthesis run <a href="/opentree">here</a>.
<strong>Note:</strong> it does take a few minutes after the successful completion
of a run before it is available for browsing.
URL of the tree browser will show the synthesis ID. 
You can check that to see if it matches the most recent run.</p> 
<div class="footnote"></div>
<script>
var custom_server = "{{canonical_url}}";
var launched_synth_id = "{{launched_synth_id}}";
</script>
<script src="/pyrstatic/customsynth.js"></script>
{% endblock %}

