{% extends "templates/layout.jinja2" %}
{% block content %}
<h1>Open Tree custom synthesis runs</h1>
<br />
<button onclick="refresh_synth()">Refresh</button>
<a href="/v3/tree_of_life/launch_custom"><input type="button" value="Launch a new run" class="right" /></a>
<br/>
<br/>
<p class="launchedcaption"></p>
<table class="launchedtable"></table>
<br/>
<p class="caption"></p>
<table class="runtable">
</table>
<div class="footnote"></div>
<script>
var custom_server = "{{canonical_url}}";
var launched_synth_id = "{{launched_synth_id}}";
</script>
<script src="/pyrstatic/customsynth.js"></script>
{% endblock %}

