{% extends "templates/layout.jinja2" %}
{% block content %}
<h1>Open Tree custom synthesis runs:</h1>
<button onclick="refresh_synth()">Refresh</button><br/>
<p class="caption"></p>
<table class="runtable">
</table>
<script src="/pyrstatic/customsynth.js"></script>
{% endblock %}

