<span class="legend">Name:</span> <a href="browse?id={{ott_id}}">{{display_name}}</a><br />

<span class="legend">Rank:</span> {{ rank_str }} <br />

<span class="legend">Sources:</span>
<span class="sources">
{% for src in tax_source_links-%}
	{% if loop.previtem is defined -%}
		{{ ", " }}
	{%- endif %}
	<a href="{{src[0]}}">{{src[1]}}</a>
{%- endfor %}
</span><br />

<span class="legend">Synonyms:</span>
<span class="synonyms">
{% for syn in synonyms-%}
	{% if loop.previtem is defined -%}
		{{ ", " }}
	{%- endif %}
	<a href="browse?name={{syn|urlencode}}">{{syn}}</a>
{%- endfor %}
</span><br />

<span class="legend">Flags:</span>
{% if flags -%}
<span class="flags">
{% for flag in flags-%}
	{% if loop.previtem is defined -%}
		{{ ", " }}
	{%- endif %}
	<span class="flag">{{flag}}</span>
{%- endfor %}
</span>
{% else %}
None
{% endif -%}
<br />