<!DOCTYPE html>
<!-- Taken from Pyramids project default layout.jinja2 -->
{% import "templates/macros.jinja2" as macros %}
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Open Tree of Life Project">
    <link rel="stylesheet" href="https://opentreeoflife.github.io/css/main.css" />
    <link rel="shortcut icon" href="/pyrstatic/favicon.ico">

    <title>Open Tree of Life</title>
    <!-- Custom styles for this scaffold -->
    <link href="/pyrstatic/theme.css" rel="stylesheet">
    <script src="/pyrstatic/jquery/jquery.v3.min.js"></script>
  </head>

  <body>
    <div class="">
      {% block content %}
      {% endblock content %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="//oss.maxcdn.com/libs/jquery/3.6.3/jquery.min.js" integrity="sha384-aBL3Lzi6c9LNDGvpHkZrrm3ZVsIwohDD7CDozL0pk8FwCrfmV7H9w8j3L7ikEv6h" crossorigin="anonymous"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js" integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4" crossorigin="anonymous"></script>
    -->
  </body>
</html>
