{% extends "templates/layout.jinja2" %}
{% block content %}
<h1>Rebuild the custom tree for {{custom_taxon_name}} </h1>
<p>Click on the button below to launch a custom sythesis run based on the <a href="https://tree.opentreeoflife.org/curator/collection/view/{{collection}}" target="_blank">{{collection}}</a> collection and root taxon {{ott_id}}</p> 
<br />
<br />
<button onclick="do_submit()" id="submitbtn">Submit request</button><span id="submittxt"></span>
<br />
<br />
<br />
<p>Or you can browse previously launched custom synthesis runs: 
<a href="/v3/tree_of_life/browse_custom"><input type="button" value="here" /></a>
</p>
<br />
<div class="footnote"></div>
<script>
var custom_server = "{{canonical_url}}";
var ini_ott = "{{ott_id}}";
var ini_collection = "{{collection}}";
</script>
<script src="/pyrstatic/rebuildcustomsynth.js"></script>
{% endblock %}

